/* General Styles */
/*reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*Color Variables*/
/*Mix Ins*/
/*Global Styles*/
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Eczar', serif;
  color: #4B5B41;
  padding: 15px 0;
  text-align: center;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.5rem;
}
p {
  line-height: 1.5;
  font-size: 1.5rem;
  margin: 15px;
}
hr {
  background-color: #0E535E;
  margin: 15px;
  height: 3px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  height: 9rem;
  background: #0E535E;
}
nav .dropdown {
  overflow: hidden;
}
nav .dropdown:hover .dropContent {
  display: flex;
  flex-direction: column;
  font-family: 'Eczar', serif;
  font-size: 2.8rem;
}
nav .dropdown .dropContent {
  display: none;
  position: absolute;
  z-index: 1;
}
nav .dropdown .dropContent a {
  background: #0E535E;
  color: #D9CBB0;
  padding: 2rem 4rem;
  margin-left: 10rem;
  text-decoration: none;
}
nav .dropdown .dropContent a:hover {
  color: #E3D9C5;
}
nav .dropdown button {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  align-content: center;
  background: #0E535E;
  border: none;
  color: #D9CBB0;
}
nav .dropdown button h1 {
  font-size: 7rem;
  color: #D9CBB0;
  margin: 0px 0px;
}
nav .dropdown button h1:hover {
  color: #E3D9C5;
}
nav .dropdown button img {
  width: 10rem;
  margin: 1rem;
}
.login {
  display: flex;
  justify-content: flex-end;
}
.login a {
  display: flex;
  justify-content: flex-end;
  color: #D9CBB0;
  font-family: 'Eczar', serif;
  font-size: 5rem;
  text-decoration: none;
}
.login a:hover {
  color: #E3D9C5;
}
.volunteertop div img {
  width: 100%;
}
.volunteerbottom .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.volunteerbottom .content-section .text-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 48%;
  padding-right: 1%;
}
.volunteerbottom .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
.volunteerbottom .content-section .img-content img {
  border-radius: 10px;
}
.topsection {
  position: relative;
}
.topsection h2 {
  color: #D9CBB0;
  font-size: 8rem;
}
.topbuttons {
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -90%);
  position: absolute;
}
.topbuttons button {
  opacity: 0.8;
  padding: 1rem 2rem;
  text-align: center;
  font-family: 'Eczar', serif;
  font-size: 2rem;
  background-color: #5F191B;
  color: #D9CBB0;
  border: none;
  border-radius: 2rem;
  margin: 2rem;
}
.topbuttons button:hover {
  background-color: #8A5759;
}
img {
  width: 100%;
}
.whatreplate P {
  margin: 0rem 8rem;
  margin-bottom: 4rem;
}
.homebottom .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.homebottom .content-section .text-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 48%;
  padding-right: 1%;
}
.homebottom .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
.homebottom .content-section .img-content img {
  width: 300px;
}
footer {
  text-align: center;
}
footer p {
  font-size: 10px;
}
.howitworks {
  text-align: center;
  display: flex;
}
.howitworks .textbox {
  display: flex;
  flex-direction: row;
  margin: 1.5rem;
  justify-content: space-between;
  width: 33%;
}
