.topsection{
    background: url("https://placeholder.com");
    position: relative;
        h2{
            color: #D9CBB0;
            font-size: 8rem;
        }
    }
    .topbuttons{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;

        @media @mobile{
            display: flex;
            flex-direction: column;
            top: 80%;
        }

        a{
            text-decoration: none;
        }
        button{
            opacity: 0.8;
        .top-button();
        margin: 2rem;
        @media @mobile{
            margin: 0.7rem;
        }
        &:hover{
            background-color: @buttonalt-hover;
        }
        }
    }
    img{
        width: 100%;
    }

.whatreplate{
    P{
    margin: 0rem 8rem;
    margin-bottom: 4rem;

    @media @mobile{
        margin: 1.5rem 1.5rem;
    }
}
}
    
.homebottom{
    .content-section {
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .text-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
          width: 48%;
          padding-right: 1%;
  
          @media @mobile{
              width: 96%;
              padding: 2%;
              text-align: center;
          }
        }
        .img-content {
            width: 48%;
            padding-left: 1%;
  
            @media @mobile{
                width: 96%;
                padding: 2%;
            }
      
            img {
              border-radius: 10px;
              }
        }
        @media @mobile{
            .mobile-format();
        }
    @media @mobile{
        flex-direction: column-reverse;
    }
    }
  
  
  .inverse-content{
    @media @mobile{
        display: flex;
        flex-direction: column;
    }
  }
  }
footer{
    text-align: center;
    p{
        font-size: 10px;
    }
}