.volunteertop{
    div{
        img{
        width: 100%,
    }
}
}

.volunteerbottom{
    .content-section {
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .text-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
          width: 48%;
          padding-right: 1%;
        }
        .img-content {
            width: 48%;
            padding-left: 1%;
      
            img {
              border-radius: 10px;
              }
}
    }
}